<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="false"
      internalLogLevel="Error"
      internalLogFile="c:\pub\logs\the-service\internal.log">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
		<add assembly="NLog.MailKit"/>
	</extensions>

	<targets>
		<target name="mail" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
			<target
				xsi:type="Mail"
				html="true"
				addNewLines="true"
				replaceNewlineWithBrTagInHtml="true"
				smtpServer="localhost"
				smtpPort="25"
				from="TheService@ME &lt;the-service@tempuri.net&gt;"
				to="some.one@tempuri.net"
				subject="ERROR (${level:uppercase=true}): ${machinename} TheService@ME"
				body="${longdate}|${level:uppercase=true}|${logger}|${message}|${exception:format=ToString}" />
		</target>
		<target name="common" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
			<target
				xsi:type="File"
				enableFileDelete="false"
				encoding="utf-8"
				fileName="c:\pub\logs\the-service\${date:format=yyyyMM}\${date:format=dd}.log"
				layout="&gt;&gt;&gt;${longdate}|${level:uppercase=true}|${logger}|${message}|${exception:format=ToString}"
				/>
		</target>
	</targets>
	<rules>
		<!--Skip non-critical Microsoft logs and so log only own logs-->
		<logger name="Microsoft.*" maxlevel="Info" final="true" />
		<!-- BlackHole -->

		<!--logger name="*" minlevel="Error" writeTo="mail,common" /-->
		<logger name="*" minlevel="Error" writeTo="mail,common" />
	</rules>
</nlog>
